body {
    background-color: hsl(0, 0%, 12%);
}

#box{
    width: 250px;
    height: 250px;
    background-color: tomato;
    font-size: 13em;
    text-align: center;
    animation: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

#box:hover {
    animation: glow;
    animation-duration: 2s;
}

@keyframes slideLeft {
    from{transform: translateX(1300%);}
}

@keyframes slideRight {
    to{transform: translateX(300%);}
}

@keyframes slideUp {
    from{transform: translateY(300%);}
}

@keyframes slideDown {
    to{transform: translateY(300%);}
}

@keyframes rotate {
    50%{transform: rotate(360deg)}
}

@keyframes grow {
    50%{transform: scale(2, 2)}
}

@keyframes shrink {
    50%{transform: scale(0.5, 0.5)}
}

@keyframes fade {
    50%{opacity: 0;}
}

@keyframes fadeIn {
    100%{opacity: 1;}
}

@keyframes colorChange {
    0%{background-color: hsl(0, 100%, 62%);}
    20%{background-color: hsl(35, 100%, 62%);}
    40%{background-color: hsl(63, 100%, 62%);}
    60%{background-color: hsl(103, 100%, 62%);}
    80%{background-color: hsl(201, 100%, 62%);}
    100%{background-color: hsl(268, 100%, 62%);}
}

@keyframes glow {
    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 62%)}
}