.icons {
    text-align: center;
}

.icons a{
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-house.fa-5x {
    color: hsl(0, 0%, 66%);
}

.fa-solid.fa-house.fa-5x:hover {
    color: hsl(0, 0%, 76%);
}

.fa-brands.fa-twitter{
    color: hsl(0, 0%, 10%);
}

.fa-brands.fa-twitter:hover{
    color: hsl(0, 0%, 20%);
}

.fa-brands.fa-youtube {
    color: hsl(0, 100%, 50%);
}

.fa-brands.fa-youtube:hover {
    color: hsl(0, 100%, 60%);
}

.fa-brands.fa-facebook {
    color: hsl(226, 59%, 44%);
}

.fa-brands.fa-facebook:hover {
    color: hsl(226, 59%, 50%);
}